h1,
h2,
a {
    color:#242628;
}

.obrazek img {
    width: 40%;
    height: 508px;
}

.odstavec {
    color:white;
    background-color:black;
    text-align:top;
    width: 40%;
    margin:0;
}

h1 { 
    text-align: center;
    background-size: 100% 100%;
    background-size: cover;
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
    font: size 100px;
}

body {
    background-color:#c5f3ff;
    margin: 0,30px,0, 30px;
}

.menu li {
    display: inline-block;
}

.menu {
    margin:0;
    padding:0;
    text-align:center;
    background-color:#242628;
}

.menu a {
    display: inline-block;
    color:white;
    text-decoration: none;
    padding: 20px 30px;
}

.menu a:hover,
.menu a:focus
.menu a:active {
    background-color: #756158;
}

.hrani {
    background-image: url(../img/hlavicka.png);
}

h1 {
    font-size:  70px;;
    color: white;
    margin: 0;
    padding: 100px 30px;
}