h1,
a {
    color:#242628;
}

h1 { 
    text-align: center;
    background-size: 100% 100%;
    background-size: cover;
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
    font-size: 70px;
    color: white;
    margin: 0;
    padding: 100px 30px;
}

body {
    background-color:#c5f3ff;
}

.menu li {
    display: inline-block;
}

.menu {
    margin:0;
    padding:0;
    text-align:center;
    background-color:#242628;
}

.menu a {
    display: inline-block;
    color:white;
    text-decoration: none;
    padding: 20px 30px;
}

.menu a:hover,
.menu a:focus
.menu a:active {
    background-color: #756158;
}

.header {
    background-image: url(../img/hlavicka.png);
}