h1 {
    font-size: 70px;
    text-align: center;
    background-image: url(../img/hlavicka.png);
    margin: 0;
    padding: 60px;
    color: white;
    text-shadow: 0 3px 10px rgba( 0, 0, 0, 0.7);

}
body {
    margin: 100px;
    background-color: #c5f3ff;
}
li {
    color: black;
    font-size: 32px;
}

a {
    color: black;
    font-size: 32px;
}
